

.row{
    display: flex;
    margin: 20px;
    flex-direction: column
}

.pie{
  height:200px;
  width: 200px;
  align-self: center;
}



h2, h3 {
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: left;
}


.contain{
    margin: auto;
    width: 100%;
    display: flex;
    padding: 50px;
    align-content: flex-start;
    justify-content: space-evenly;
    width: fit-content;
}

.button1 {
  margin: 10px;
	color: white;
	background-color: #00d4ff;
	border: 5px solid transparent;
	transition: .2s ease;
	border-radius: 50px;
  padding: 20px;
  width: fit-content;
  align-self: center;
}

.button1:hover {
	color: #00d4ff;
	background-color: white;
	transform: scale(1.1);
	border: 5px solid #00d4ff;
}
